/.vscode/
/data/
.DS_Store
geoffrey_agent/__pycache__/

state_agent/__pycache__/
yann_agent/__pycache__/

yoshua_agent/__pycache__/

image_jurgen_agent/__pycache__/

jurgen_agent/__pycache__/
tournament/__pycache__/
grader/__pycache__/
grader/__pycache__/

